# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
lib

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
lerna-debug.log

Session.vim
.tags
.tern-port
codeit.sh

# exclude compiled directories
/drawer
/layout-grid
/list
/theme
/toolbar
/typography
/ripple
/button
/fab
/elevation
/icon-toggle
/card
/dialog
/grid-list
/linear-progress
/menu
