@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

$mdc-theme-primary: #212121;
$mdc-theme-secondary: #00b8d4;
$mdc-theme-background: #fff; // White

@import '@material/theme/mdc-theme';
@import '@material/typography/mdc-typography';
@import '@material/list/mdc-list';
@import '@material/toolbar/mdc-toolbar';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/drawer/mdc-drawer';
@import '@material/list/mdc-list';
@import '@material/ripple/mdc-ripple';
@import '@material/elevation/mdc-elevation';

html, body {
  @include mdc-typography-base;
}

p, table, code {
  @include mdc-typography(body1);
}

p code {
  background: rgba(0,0,0,.1);
}

.demo-body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
}

.demo-content {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
}

.table-doc {
  display: inline-block;
  overflow-x: auto;
  margin: 8px 0 32px;
  max-width: 100%;
  border: 1px solid #eee;

  th {
    background: #fafafa;
    border-top: none;
    color: rgba(0,0,0,.54);
    font-weight: 500;
    text-align: left;
  }

  td, th {
    border: 1px solid #eee;
    padding: 12px 12px 12px 24px;
  }

  th:first-child {
    width: 15%;
  }

  th:nth-child(2) {
    width: 25%;
  }

  th:nth-child(3) {
    width: 10%;
  }

  th:nth-child(4) {
    width: 10%;
  }
}

.demo-theme__color {
  display: inline-flex;
  flex-direction: column;
  margin-right: 24px;

  .demo-theme__color__block {
    display: inline-block;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #f0f0f0;
    margin-bottom: 1px;
  }
}


.demo-theme__text-styles {
  display: inline-flex;
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid #f0f0f0;
  align-items: center;

  span {
    padding: 0 16px;
  }
}

.list-demo-wrapper .mdc-list, .list-demo-wrapper .mdc-list-group {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.list-demo-wrapper .mdc-list-group .mdc-list,
.list-demo-wrapper .mdc-theme--dark .mdc-list,
.list-demo-wrapper .mdc-theme--dark .mdc-list-group {
  border: none;
}

.mdc-list, .mdc-list-group {
  max-width: 600px;
}

.mdc-theme--dark {
  background-color: #303030;
}

.grey-bg {
  background: rgba(0, 0, 0, .26);
}

.avatar-text-icon-demo-list .mdc-list-item__end-detail {
  text-decoration: none;
  color: #ff4081;
}

.two-line-avatar-text-icon-demo {
  .mdc-list-item__start-detail {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .mdc-list-item__end-detail {
    color: rgba(0, 0, 0, .26);
    text-decoration: none;
  }
}

.mdc-theme--dark {
  .two-line-avatar-text-icon-demo {
    .mdc-list-item__start-detail {
      background-color: rgba(255, 255, 255, .7);
      color: #303030;
    }

    .mdc-list-item__end-detail {
      color: rgba(255, 255, 255, .7);
    }
  }
}

.demo-grid {
  background-color: #ddd;
  margin-bottom: 32px;
}

.demo-cell {
  box-sizing: border-box;
  background-color: #666;
  height: 200px;
  padding: 8px;
  color: white;
  font-size: 1.5em;
}

.demo-child-cell {
  position: relative;
  > span {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: #ddd;
  }
}

.demo-parent-cell {
  position: relative;
  background-color: #aaaaaa;
  > span {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 1.5em;
    color: white;
  }
}

.demo-grid.max-width {
  max-width: 1280px;
}

.elevation-demo-surface {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  margin: 0 60px 80px;
  border-radius: 3px;
  font-size: .8em;
  color: #9E9E9E;
  background: white;
}

.elevations-demo-surfaces {
  padding-top: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#elevation-hover-el {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 4px;
}
