@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

$mdc-theme-primary: #212121;
$mdc-theme-secondary: #00b8d4;
$mdc-theme-background: #fff; // White

@import '@material/theme/mdc-theme';
@import '@material/typography/mdc-typography';
@import '@material/list/mdc-list';
@import '@material/toolbar/mdc-toolbar';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/drawer/mdc-drawer';

html, body {
  @include mdc-typography-base;
}

p, table, code {
  @include mdc-typography(body1);
}

p code {
  background: rgba(0,0,0,.1);
}

.demo-body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
}

.demo-content {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
}

.table-doc {
  display: inline-block;
  overflow-x: auto;
  margin: 8px 0 32px;
  max-width: 100%;
  border: 1px solid #eee;

  th {
    background: #fafafa;
    border-top: none;
    color: rgba(0,0,0,.54);
    font-weight: 500;
    text-align: left;
  }

  td, th {
    border: 1px solid #eee;
    padding: 12px 12px 12px 24px;
  }

  th:first-child {
    width: 15%;
  }
  th:nth-child(2) {
    width: 25%;
  }
  th:nth-child(3) {
    width: 10%;
  }
  th:nth-child(4) {
    width: 10%;
  }
}

.demo-theme__color {
  display: inline-flex;
  flex-direction: column;
  margin-right: 24px;

  .demo-theme__color__block {
    display: inline-block;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #f0f0f0;
    margin-bottom: 1px;
  }
}


.demo-theme__text-styles {
    display: inline-flex;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid #f0f0f0;
    align-items: center;

    span {
      padding: 0 16px;
    }
}
