{
  "presets": [
    ["@babel/preset-env", {
      "shippedProposals": true,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"],
        "node": "current",
      }
    }],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],

  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-object-rest-spread",
  ],

  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
      ]
    }
  }
}
