@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

$mdc-theme-primary: #212121;
$mdc-theme-secondary: #00b8d4;
$mdc-theme-background: #fff; // White

@import '@material/theme/mdc-theme';
@import '@material/typography/mdc-typography';
@import '@material/list/mdc-list';
@import '@material/toolbar/mdc-toolbar';
@import '@material/drawer/temporary/mdc-temporary-drawer';
@import '@material/elevation/mdc-elevation';

html,
body {
  @include mdc-typography-base;
}

p,
table,
code {
  @include mdc-typography(body1);
}

.demo-body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.demo-main {
  padding-left: 16px;
}

.mdc-drawer__drawer {
  .mdc-list-group {
    padding: 0;
  }
}
