@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

$mdc-theme-primary: #212121;
$mdc-theme-secondary: #b0bec5;
$mdc-theme-background: #fff; // White

@import '@mcw/theme/lib/styles.scss';

// @import '@mcw/theme/lib/styles.scss';
// @import '@mcw/drawer/lib/styles.scss';
// @import '@mcw/toolbar/lib/styles.scss';
// @import '@mcw/layout-grid/lib/styles.scss';
// @import '@mcw/typography/lib/styles.scss';

// .demo-content {
//   display: inline-flex;
//   flex-direction: column;
//   flex-grow: 1;
//   height: 100%;
//   box-sizing: border-box;
// }
//
// .demo-body {
//   display: flex;
//   flex-direction: row;
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
//   min-height: 100%;
//   width: 100%;
// }

